.sectleft{
    width:400px;
    height:200px;
    float: left;
  }

.next {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 75px;
    left: 55px;
    z-index: 10;
    }

.nxt{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 75px;
  left: 207px;
  z-index: 10;
}
#loc{
padding-top: 130px;
}
.button{
background-color: cornflowerblue;
border-radius: 7px;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
font-size: 16px;
}